@model EmployeeSystem.Models.Employee

<div>
    <dl class="row">

        <dt class="col-sm-3">Gender</dt>
        <dd class="col-sm-9">@Model.Gender</dd>
        
        <dt class="col-sm-3">Date of Birth</dt>
        <dd class="col-sm-9">@Model.DateofBirth</dd>
        

        <dt class="col-sm-3">Mobile No</dt>
        <dd class="col-sm-9">@Model.MobileNo</dd>

        <dt class="col-sm-3">Qualification</dt>
        <dd class="col-sm-9">@Model.Qualification</dd>

        <dt class="col-sm-3">Experience</dt>
        <dd class="col-sm-9">@Model.Experience</dd>

        <dt class="col-sm-3">Address</dt>
        <dd class="col-sm-9">@Model.Address</dd>


    </dl>

    <div>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.EmployeeId">Edit Employee</a>
    </div>

    <hr/>
    <div>
        <a asp-action="Index">Back to List</a>
    </div>

</div>
